# IDE
.idea/
.vscode/

# Backend
backend/target/
backend/*.iml
backend/.mvn/wrapper/maven-wrapper.jar

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# OS
.DS_Store
Thumbs.db

# Chrome & Run Logs
chrome_log_*.txt
chrome_run_*.log
chrome_*.log
*.log
*.txt
